* {
  margin: 0;
  padding: 0;
}
html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.14rem;
  background-color: #f7f7f7;
}
.page_content {
  width: 100%;
  flex: 1 0 0;
  overflow-y: auto;
  font-size: 0;
}

/* user_box */
.user_box {
  background: url('./assets/user_bg.png') no-repeat center center/100% 100%;
  height: 0.92rem;
  position: relative;
}
.user_name {
  position: absolute;
  top: 0.24rem;
  left: 0.85rem;
  font-size: 0.19rem;
}
.user_pspno {
  position: absolute;
  top: 0.53rem;
  left: 0.85rem;
  font-size: 0.13rem;
  color: #b4b4b4;
}

/* item_list */
.item_list {
}
.item {
  background: url('./assets/item_bg.png') no-repeat center center/100% 100%;
  height: 1.93rem;
  margin: 0.1rem 0;
  position: relative;
  font-size: 0.14rem;
}
.item_time {
  position: absolute;
  top: 1.1rem;
  right: 0.19rem;
}
.item_org {
  position: absolute;
  top: 1.49rem;
  right: 0.19rem;
}
